{% extends 'base.html' %}

{% block breadcrumb %}
{% endblock %}

{% block container %}
<script>
    $('#nav_data').addClass('active');
</script>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="btn btn-sm btn-default" id="nav_data_account_move_list" href="{{ url_for('data_account_move_list')}}">{{ _('Account Moves') }}</a>
        </div>
    </div>
</nav>
{% block container_data %}{% endblock %}

{% endblock %}
