{% extends 'base_other.html' %}

{% block container_other %}
<script>
    $('#nav_other_user').addClass('active');
</script>


<h1>{{ _('Users') }}</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ _('ID') }}</th>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Email') }}</th>
            <th>{{ _('Password') }}</th>
            <th></th>
        <tr>
    </thead>
    <tbody>
{% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
